/* src/styles/DashboardPage.css */
.dashboard-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    direction: rtl;
}

.budget-balance, .recent-expenses, .budget-graphs, .alerts, .upcoming-expenses {
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1em;
    padding: 5px 0;
}
